<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Document</title>
</head>
<body>
  <div>
    <h1><%= category.name%></h1>
    <p>
      <%= category.description%>
    </p>
    <p>Here is the list of items in this category:</p>
    <ul>
      <% items.forEach((item) => { %>
        <li class="item">
          <h2><%= item.name%></h2>
          <div class="itemLinks">
            <a href="/items/<%= item.id%>/page">Get details</a>
            <a href="/items/<%= item.id%>/update">Update item</a>
            <a href="/items/<%= item.id%>/delete">Delete item</a>
          </div>
        </li>
      <% }) %>
    </ul>
    <div>
      Add a new item to this category <a href="/categories/items/<%= category.id%>/new">here</a>.
      <br><br>
      Delete category <a href="/categories/<%= category.id%>/delete">here</a>
      <br><br>
      Modify category <a href="/categories/<%= category.id%>/update">here</a>
      <br><br>
      <a href="/">Home</a>
    </div>
  </div>
</body>
</html>