<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <p>Create a new item for <%= category.name%> category.</p>
    <br>
    <div>
      <form action="/categories/items/<%= category.id%>/new" method="post">
        <% fields.forEach((field) => { %>
          <% if(field.column_name !== 'id') { %>
            <% if(field.data_type === 'integer') { %>
              <p>
                <label for="<%=field.column_name%>"><%=field.column_name%></label>
                <input type="number" name="<%=field.column_name%>" id="<%=field.column_name%>" required>
              </p>
            <% } else { %>
              <p>
                <label for="<%=field.column_name%>"><%=field.column_name%></label>
                <input type="text" name="<%=field.column_name%>" id="<%=field.column_name%>" required>
              </p>
              <% } %>
          <% } %>
        <% }) %>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
